# Real values go into subscriptions-holder-db.env, which is gitignored:
#   cp subscriptions-holder-db.env.example subscriptions-holder-db.env
# Values are taken literally, quotes and \n are not interpreted, one line each.
PGUSER=user
POSTGRES_DB=db
POSTGRES_PASSWORD=pass
POSTGRES_USER=user
