spring:
  application:
    name: subscriptions-scheduler
  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: BASIC

server:
  port: 8087

application:
  scheduler:
    cron: "0 0 0 * * *" # every midnight
    retention: 14 # in days
  logs:
    loki:
      url: ${LOKI_URL:http://loki-gateway.monitoring/loki/api/v1/push}
eureka:
  client:
    registerWithEureka: true
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
    healthcheck:
      enabled: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
  #    instance-id: "${spring.application.name}:${server.port}"

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    defaults:
      enabled: true
    diskspace:
      enabled: true
  tracing:
    export:
      zipkin:
        enabled: true
        connect-timeout: 1s
        read-timeout: 10s
        endpoint: ${ZIPKIN_SERVER:http://localhost:9411/api/v2/spans}
    sampling:
      probability: 1.0
    
  # For Exemplars to work we need histogram buckets
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true

logging:
  level:
    root: INFO
  pattern:
    correlation: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  include-application-name: false